@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Changa+One");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.jumbo {
  background: url("/app/images/dashboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: orangered;
  padding: 20px;
  padding-top: 95px; }
  .jumbo a {
    font-size: 12px;
    color: black; }
  .jumbo a:hover {
    color: white; }
  .jumbo div > span, .jumbo h1 {
    margin: 0;
    text-shadow: 1px 1px 2px black; }
  .jumbo span {
    background-color: rgba(128, 128, 128, 0.9);
    width: auto;
    height: auto;
    padding: 0 5px; }

@media (min-width: 900px) {
  .jumbo {
    padding: 20 0;
    padding-top: 115px; }
    .jumbo .container {
      width: 65%;
      margin: auto; } }
@media (min-width: 1200px) {
  span {
    font-size: larger; } }
#services {
  width: 100%;
  font-size: 14px;
  text-align: justify;
  color: #505050;
  background-color: #d2d2d2;
  margin-top: 0; }
  #services .container {
    width: 90%;
    margin: auto; }
    #services .container h2 {
      text-decoration: underline;
      text-decoration-color: orangered; }

nav {
  height: 80px;
  background-color: gray;
  background: linear-gradient(70deg, gray, #afafaf);
  font-family: "Open Sans", sans-serif;
  position: fixed;
  width: 100%;
  border-top: 3px solid orangered;
  border-bottom: 3px solid orangered; }
  nav a {
    text-decoration: none;
    color: white; }
  nav a:hover {
    color: orangered; }
  nav .container {
    width: 100%;
    margin: auto;
    height: auto; }
    nav .container #nav-headers {
      width: 90%;
      display: flex;
      flex-direction: row;
      margin: auto;
      height: 80px;
      align-items: center;
      justify-content: space-between; }
    nav .container #brand {
      font-family: "Changa One", cursive;
      color: orangered;
      text-shadow: 1px 1px 2px black; }
    nav .container #menu {
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 14px;
      cursor: pointer; }
  nav .dropdown {
    display: none;
    flex-direction: column;
    /* background-color: $bg-color; */ }
    nav .dropdown .link-item {
      color: white;
      font-weight: bold;
      background-color: gray;
      display: flex;
      justify-content: center;
      margin: auto;
      margin-top: -2px;
      padding: 5px 0;
      width: 99%;
      z-index: 1;
      border: 2px solid black; }
      nav .dropdown .link-item i {
        padding-right: 5px; }
      nav .dropdown .link-item span {
        font-size: 12px;
        text-transform: uppercase;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
  @media (min-width: 900px) {
    nav .container {
      display: flex;
      flex-direction: row;
      width: 85%; }
    nav .dropdown {
      display: flex;
      flex-direction: row; }
      nav .dropdown .link-item {
        width: 110px;
        border: none;
        text-align: center;
        margin-top: 17px;
        background-color: transparent; }
        nav .dropdown .link-item a {
          display: flex;
          flex-direction: column; }
        nav .dropdown .link-item span {
          font-size: 14px; }
        nav .dropdown .link-item i {
          font-size: 18px;
          padding-bottom: 3px; }
    nav #menu {
      display: none; } }
  @media (min-width: 1200px) {
    nav .container {
      display: flex;
      flex-direction: row;
      width: 65%; }
    nav .dropdown .link-item {
      width: 125px; } }

#about {
  width: 100%;
  font-size: 14px;
  text-align: justify;
  color: #505050;
  background-color: white;
  margin-top: 0; }
  #about .container {
    width: 90%;
    margin: auto; }
    #about .container h2 {
      text-decoration: underline;
      text-decoration-color: orangered; }
    #about .container .singles-container {
      display: flex;
      flex-direction: column; }
  #about .about-single {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-top: 5px solid orangered;
    border-radius: 5px;
    padding: 10px;
    background-color: #ebebeb;
    box-shadow: 1px 2px 4px gray; }
    #about .about-single .image-container {
      margin: auto;
      width: 33%;
      text-align: center; }
      #about .about-single .image-container img {
        border-radius: 50%;
        width: 75%; }
    #about .about-single .about-text-container {
      width: 90%;
      margin: auto; }
      #about .about-single .about-text-container h3 {
        -webkit-margin-after: 0.5em;
        text-align: center; }
      #about .about-single .about-text-container p {
        -webkit-margin-before: 0; }

@media (min-width: 900px) {
  #about .container {
    width: 60%; }
    #about .container .about-single .image-container img {
      border-radius: 50%;
      width: 100px; } }
@media (min-width: 1200px) {
  .about-single {
    display: flex; } }

/*# sourceMappingURL=styles.css.map */
