.searchContainer {
  border-bottom: 1px solid $font-color;

  .selectArea {

    #certSelect {
      display: flex;
      list-style: none;

      .cert {
        text-align: center;
        width: 50px;
        cursor: pointer;

        .certDescription {
          display: none;
          width: 75%;
        }
      }
    }
  }    
}