.container {
    display: flex;
    align-items: center;
    width: 60%;
    margin: auto;
    #test {
        display: flex;
        margin: auto;
        img {
            margin: auto;
            margin-top: 25px;
        }
        .mySlides {
            width: 100%;
            display: none;
            flex-direction: column;
        } 
        .caption {
            width: 100%;
            text-align: center;
            color: black;
            text-shadow: 1px 2px 2px black;
        }
    }
    .prev, .next {
        color: black;
        font-size: 48px;
        cursor: pointer;
        text-shadow: 2px 2px 5px black;
    }
}
