.searchContainer {
  border-bottom: 3px solid $headings-color;
  .selectArea {
    margin: auto;
    #certification {
      padding: 0 10px;    
      border-bottom: 1px solid $headings-color;
      margin-bottom: 10px;
      padding-bottom: 10px;
      #certSelect {
        display: flex;
        justify-content: space-between;
        .cert {
          width: 15%;
          padding: 10px;
          text-align: center;
          cursor: pointer;
        }
      }
      #certDescriptionBox {
        display: none;
        height: 100px;
        width: $mobile-width;
        border: 1px solid $headings-color;
        margin: auto;
        margin: 10px auto;
        padding: 10px;
        color: $font-color;
        text-align: justify;
        font-size: 13px;
        overflow-y: auto; 
      }
    }
    #genres {   
      padding: 0 10px;    
      border-bottom: 1px solid $headings-color;
      margin-bottom: 10px;
      padding-bottom: 10px;
      #genreSelect {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .genre {       
          width: 33%;
          padding-bottom: 5px;
          text-align: center;
          cursor: pointer;
        }
      }
    }
    #releaseYear {
      padding: 0 10px;      
      border-bottom: 1px solid $headings-color;
      margin-bottom: 10px;
      padding-bottom: 10px;      
      fieldset {
        margin: 5px 0 10px 0;
      }
    }
  }
  .btn-container {
    padding: 0 20px 10px 20px;    
    width: 100%;
    display: flex;
    justify-content: space-between;
    .btn {
      padding: 5px;
      background-color: $darkest;
      color: $headings-color;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  }
  
}