.jumbo {
    background: url('/app/images/dashboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: $header-color;
    padding: 20px;
    padding-top: $nav-height + 15px;
    #map-link {
        font-size: 14px;
        color: white;
        cursor: pointer;
        text-shadow: 1px 1px 2px black;
    }

    #map-link:hover {
        color: black;
    }

    div > span, h1 {
        margin: 0;
        text-shadow: 1px 1px 2px black;
    }

    span {
        background-color: rgba(128, 128, 128, 0.9);
        width: auto;
        height: auto;
        padding: 0 5px;
    }
}

@include for-tablet-landscape-up {
        .jumbo {
            padding: 20 0;
            padding-top: $nav-height + 35;
            .container {
                margin: auto;
        }
    }
}

@include for-desktop-up {
    span {
        font-size: larger;
    }
}