.results {
    padding: 10px;
    width: $desktop-width;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    .result {
        width: 32%;
        cursor: pointer;
        margin: 10px 0;
        div {
            display: flex;
            flex-direction: column;
            img {
                width: 92px;
                margin: auto;
            }
            .film-title {
                text-align: center;
            }
        }       
        
    }
}