#testimonials {
    background-color: rgb(230, 230, 230);
    padding-top: 10px;
    padding-bottom: 20px;
    .container {
        #quote-container {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100px;
            padding: 20px 20px;
            background-color:rgb(245, 245, 245);
            border: 1px solid $bg-color;
            border-left: 5px solid $header-color;
            border-radius: 5px;
            max-width: 75%;
            margin: auto;            
        }
        #customer-quote {
            text-align: center;
            margin: 0;
            padding: 0px 15px;
        }
        #customer-name {
            text-align: right;
            padding-left: 20px;
            font-size: 0.75rem;
        }
        .fa-quote-left {
            padding-bottom: 30px;
        }
        .fa-quote-right {
            padding-top: 30px;
        }
    }  
}