#gallery {
   .gallery-container {
        margin: 0 auto;
        padding: 0 2px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        .img-cell {
            margin: 2px;
            width: calc(50% - 4px);
        }
        img {
            max-width: 100%;
            transition: filter 0.5s;
        }
        img:hover {
            filter: grayscale(100%);
            cursor: pointer;
        }   
    }
}

@include for-tablet-portrait-up {
    #gallery {
        .gallery-container {
            .img-cell {
                width: calc(33.3333% - 4px);
            }
        } 
    }       
}

@include for-tablet-landscape-up {
    #gallery {
        .gallery-container {
            .img-cell {
                margin: 8px;
                width: calc(20% - 16px);
            }
        }    
    }    
}