#services {
    width: 100%;
    font-size: 14px;
    text-align: justify;
    color: $text-body-color;
    background-color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 10px;
    .container {
        padding-bottom: 10px;
        h2 {
            -webkit-margin-after: 0.5em;
        }        
        .icon-paragraph {
            display: flex;
            align-items: center;
            width: 100%;
            i {
                margin-right: 10px;
                color: $header-color;
                font-size: 16px;
            }
            p {
                -webkit-margin-before: 0.25em;
                -webkit-margin-after: 0.5em;
            }
        }
    }
}

@include for-tablet-landscape-up {
    #services {
        .container {
            width: 60%;
        }
    }
}