// Reset and/or normalize styles, box-sizing, etc.

html, body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    box-sizing: border-box;
    background: $bg-color;
    color: $font-color;
}
* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0; 
}
