// Contains font & colour definitions, etc.
// There should be no CSS output here

// Examples:
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Changa+One');


$main-font: 'Open Sans', sans-serif;
$second-font: 'Changa One', cursive;
$primary-color: rgba(0, 0, 0, 1);
$header-color: orangered;
$bg-color: rgb(128, 128, 128);
$nav-height: 80px;
