// Contains font & colour definitions, etc.
// There should be no CSS output here

// Examples:
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Jura:500');

$headline-font: 'Bungee Hairline', sans-serif;
$main-font: 'Titillium Web', sans-serif;
$font-color: #222;
$bg-color: #bbb;
$desktop-width: 75%;

